  .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    * {
        margin: 0;
        padding: 0;
        font-family: "Google Sans", sans-serif;
    }

    body {
        background-color: rgb(2, 2, 21);
        color: white;


    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(30, 41, 57);
        border: 1px solid gray;
        height: 70px;
        width: 100%;
        position: fixed;
        z-index: 10;
    }

    .nav ul {
        display: flex;


    }

    .nav ul li {
        list-style: none;
        font-size: large;
        padding: 16px;
        margin: 0 10px;

    }

    .nav ul li a {
        text-decoration: none;
        color: white;
        opacity: 0.5;
    }

    .nav ul li a:hover {
        font-size: 1.09rem;
        color: white;
        opacity: 1;
    }


    .left {
        padding: 18px;
        font-size: 1.5rem;
        margin: 1px;
    }

    .firstsection {
        display: flex;
        justify-content: center;
        margin: 27 0px;
    }

    .leftsection {
        display: flex;
        flex-direction: column;


        height: 100vh;
        justify-content: center;
        align-content: center;
    }

    #name {
        font-size: 3.75rem;
        line-height: 1;
        font-weight: 700;
        padding: 23px;
    }

    #title {
        font-size: 1.5rem;
        padding-left: 43px;
        margin-bottom: 5px;

    }

    .links {
        display: flex;
        justify-content: center;
    }

    .rightsection {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        text-decoration: none;

    }

    .rightsection a {
        padding: 0 15px;
        color: white;
        text-decoration: none;
        font-size: large;

    }
     .rightsection a:hover{
      color: green;
    }

    #font {
        opacity: 0.5;
    }

    .secondsection h2 {
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
        padding-top: 8rem;
    }

    .box {
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
    }

    .box1 {
        width: 50%;
        height: 35vh;

        margin: 5rem 7rem;
        padding: 2rem;
    }

    .box2 {
        width: 50%;
        height: 35vh;
        background-color: brown;
        border-radius: 25px;
        margin: 5rem 7rem;
        padding: 2rem;
    }
   
     .ab{
        display: flex;
        justify-content: flex-start;
        align-content: space-between;
    }

    .ab1{
         width: 50%;
        height: 35vh;
        background-color: brown;
        margin: 5rem 5rem;
        padding: 2rem;
        border-radius: 25px;
        
        
    }

    .ab2{
        width: 50%;
        height: 35vh;

        margin: 5rem 5rem;
        padding: 2rem;
       
    }
     .foot{
        display:flex;
        align-items: center;
       flex-direction: column;
       width: 100%;
        height:40vh;
       

    }
     
    .f1{
       margin-top:20px;
       font-size: large;

    }
    .f3{
        margin-top:50px;
       font-size:large;
       margin-top: 1rem;
       opacity:0.5;


    }
    #f4{
        font-size:larger;
        margin-top:1rem;
        font-weight:600;
    }
    .f2{
        
        margin-top:8rem;
         opacity:0.5;
 }
   
    .container {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100vw;
      padding-top: 15rem;
     
     

    }

    .data{

        display: flex;
        flex-direction:column;
       flex-wrap: wrap;
       background: #17202f;
        width: 25%;
        height: 45%;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        /* justify-content: flex-start; */
        align-items:center;
        align-self: start;
       
      
    }

    .data:hover {
        scale: 1.2;
    }

    #heading {
        text-align: center;
        opacity: 0.8;
        color: bisque;
        margin-top:0.5rem;
    }

   
    .imgbox{
        width:15rem;
        height: 5rem;
        display:grid;
     
       grid-auto-flow: row;
       grid-template-columns: repeat(3,1fr);
       grid-template-rows:repeat(3,1fr);
       gap: 1.75rem;
       margin-top:1.5rem;

    }
    .imgbox img{
       width: 50px;
       height:50px;
       border-radius:12px;
       align-self:center;
       
       
    }
    .resume{
          display: flex;
        flex-direction:column;
       flex-wrap: wrap;
       background: #17202f;
        width: 25%;
        height:45%;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      
        align-items:center;
        align-self: start;
        text-align:center;
      
    }
    .resume:hover{
        scale: 1.2;
    }
    #cv{
        opacity: 0.8;
        color: bisque;
        margin-top:2.5rem;
        text-align: center;
    }
    #coat{
        margin:2rem;
        font-size: medium;
    }
    #cvButton{
       border: 1px solid white;
       background:#17202f;
       color: white;
       width:40%;
       height: 2.5rem;
        
    }
       #cvButton:hover{
        background:white;
        color: black;
       }

    /* ===============================
   TABLET & MOBILE
   =============================== */
@media (max-width: 600px) {
    body{
        width:100%;
    }

  /* Navbar */
  .nav {
    flex-direction: column;
    height:5rem;
    width:100%;
   
  }
  .left{
    text-align: center;
    padding: 0;
    margin:0.2rem;
  }

  .nav ul {
    flex-direction: row;
    align-items: center;
    justify-content:center;
    
  }

  

  /* Hero section */
  .leftsection {
    height: auto;
    padding-top: 8rem;
    text-align: center;
  }

  #name {
    font-size: 2.3rem;
    padding: 10px;
  }

  #title {
    font-size: 0.9rem;
    padding-left: 0;
  }

  .rightsection {
    flex-wrap: wrap;
    gap: 12px;
  }

  /* Section heading spacing */
  .secondsection h2 {
    display:flex;
    flex-direction:column;

    padding-top: 6rem;
  }
  .box{
    display:flex;
    flex-direction:column; 
  }
  .ab{
    display:flex;
    flex-direction:column; 
  }

  /* Cards width */
  .container{
    display: flex;
    flex-direction: column;
  }
  .data,
  .resume {
    width: 85%;
    margin: 2rem;

  }
  .data:hover{
scale: 1;
  }
  
  .resume:hover {
   scale:1;

  }
 

  /* Tech icons grid */
  .imgbox {
    width: auto;
    row-gap: 1.2rem;
  }

  /* Footer */
  .foot {
    height: auto;
    padding: 2rem 1rem;
    text-align: center;
  }

  .f2 {
    margin-top: 3rem;
  }
}